@font-face {
  font-family: 'IRANSansX';
  src: url('/public/fonts/iransans/IRANSansXV.woff') format('woff2'),
    url('/public/fonts/iransans/IRANSansXV.woff') format('woff'),
    url('/public/fonts/iransans/IRANSansXV.woff') format('truetype');
  font-style: normal;
  font-display: swap;
}
